<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Some Great Blog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <style>
        body{
            background-image: url("/static/images/blog7.jpeg");
            border-image-width: cover;
            background-repeat: no-repeat;
            margin: 20%;
            margin-top: 5%;
        }
        .posts{
            background-image: url("/static/images/profile-paper.svg");
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
{% block page_title %}{% endblock page_title %}
{% block page_content %}{% endblock page_content %}
</body>
</html>