{% extends "base2.html" %}

{% block page_title %}
    <div>
        <a href="{% url "blog-index" auth_id %}">Home</a>
    </div>
    <h3>{{categories.name}}</h3>
{% endblock %}

{% block page_content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{form.title}}
        </div>
        <div>
            {{form.body}}
        </div>
        <div>
            {{form.image}}
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
{% endblock %}